SUBSYSTEMS=="usb",ACTION=="add",KERNEL=="event*",ATTRS{idVendor}=="0483",ATTRS{idProduct}=="5750",SYMLINK+="twofingtouch",RUN+="/bin/chmod a+r /dev/twofingtouch"
